/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  @include media-breakpoint-up(xs){
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    margin-left: -50%;
    margin-right: -50%;
  }

  .inner{
      @include media-breakpoint-down(xs){
    position: relative;
    top: -3em;
      }
  }
  .pmContinue{
    font-size: .4em;
    & + i{
      position: relative;
      @include keyframes(move-the-object) {
      0%   { top: 0; }
      50% { top: 15px; }
      100% { top: 0px; }
      }
      @include animation('move-the-object 1s ease-in infinite');
    }

    @media only screen 
      and (max-width: 768px) 
      and (orientation: landscape) {
        display: none;
          & + i{
            display: none !important;
          }
      }
  }
}


.navbar{
  &.pmFooter{
    background-color: $pmOffWhite;
    margin-bottom: 0;
    color: $pmDarkGray;
    font-size: .5em;
    padding: .5rem 0rem;
    @include raleLight();
     z-index: 1000;
    @include media-breakpoint-up(md){
      padding: .5rem 3rem;
    

    }
  }
}