.row{

    .pmSample{
        &.home{
            cursor: pointer;
            @include media-breakpoint-down(xs){
                border-width: 15px !important;
                height: 20%;
            }
            $textStyles:  line-through, overline, underline, none;
            $borderColors: $pmPink, $pmGreen, $pmDarkGray, $pmBlue;
            $bgColors: $pmBlue , $pmPink, $pmGreen, $pmDarkGray;
            $sampleImages: sampleLukes, sampleVisage, sampleVsgio, sampleLogo;

            @for $i from 1 through length($borderColors) {
                 $c: nth($borderColors, $i);
                 $b: nth($textStyles, $i);
                 $d: nth($bgColors, $i);
                 $f: nth($sampleImages, $i);

                &:nth-child(#{$i}){
                    border: 30px solid $c;
                    background-image: url('.../../assets/images/#{$f}.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    h4{
                        text-decoration: $b;
                        @if $i == 3 {
                            @include josefinBoldItalic();
                        }
                        @else{
                            @include josefinBold();
                        }
                       
                        @if $i != 1 {
                            text-transform: uppercase;

                        }
                    }
              .sampleCover{
                 position: absolute;
                 width: 100%;
                 height: 100%;
                 top: 0;
                 left: 0;
                 @include pm-background-gradient(left, $d, $black);
                 opacity: 0.8;
                 z-index: 0;
                    }
                }
            }
            h4{
            @include vertical-center();
            font-size: 2.5em;
            position: relative;
            @include media-breakpoint-down(xs){
                border-width: 15px !important;
                height: 20%;
                font-size: 1.8rem;
                }
            }

            & + [class^="col"] > a{
                color: $pmDarkGray;
                display: block;
                font-size: 3em;
                position: relative;
                top: 80px;
                text-decoration: underline;
                text-transform: uppercase;
                @include josefinBold();
                @include media-breakpoint-down(xs){
                    font-size: 1.2rem;
                    top: 30px;
                }
            }
        }

        &.work{
            cursor: pointer;
            max-height: 200px;
            height: 200px;
                    @include media-breakpoint-up(md){
                        margin-left: 5.5%;
                    }
            
            $textStyles:  line-through, overline, underline, none, overline, underline;
            $borderColors: $pmPink, $pmGreen, $pmDarkGray, $pmBlue, $black, $yellow;
            $bgColors: $pmBlue , $pmPink, $pmGreen, $pmDarkGray, $black, $yellow;
            $sampleImages: sampleLukes, sampleVisage, sampleVsgio, sampleLogo, sampleVisage, sampleVsgio;

            @for $i from 1 through length($borderColors) {
                 $c: nth($borderColors, $i);
                 $b: nth($textStyles, $i);
                 $d: nth($bgColors, $i);
                 $f: nth($sampleImages, $i);

                &:nth-child(#{$i}){
                    border: 13px solid $c;
                    background-image: url('.../../assets/images/#{$f}.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    
                    margin-top: 15px;
               
                    h4{
                        font-size: 2.5em;
                        text-decoration: $b;
                        position: relative;
                        letter-spacing: 3px;
                        @if $i == 3 {
                            @include josefinBoldItalic();
                        }
                        @else{
                            @include josefinBold();
                        }
                       
                        @if $i != 1 {
                            text-transform: uppercase;
                        }
                    }
              .sampleCover{
                 position: absolute;
                 width: 100%;
                 height: 100%;
                 top: 0;
                 left: 0;
                 @include pm-background-gradient(left, $d, $black);
                 opacity: 0.8;
                 z-index: 0;
                    }
                }
            }
            h4{
                @include vertical-center();
            }

            & + [class^="col"] > a{
                color: $pmDarkGray;
                display: block;
                font-size: 3em;
                position: relative;
                top: 80px;
                text-decoration: underline;
                text-transform: uppercase;
                @include josefinBold();
            }
        }
    }

}

@import "_sampleDetails.scss";

