.pmSideText{
    //Base Mobile Styles
    position: absolute;
    color: $pmDarkGray;
    transform: rotate(-90deg);
    bottom: 12%;
    width: 100vh;
    display: none;
    @include media-breakpoint-up(md){
      transform-origin: 7.3vw 11.7vw;
      display: block;
      
    }

    @include media-breakpoint-up(lg){
      transform-origin: 4.9vw 8vw;
    }

    @include media-breakpoint-up(xl){
      transform-origin: 3.3vw 5.7vw;
    }

   @media (min-width: 1700px){
      transform-origin: 3.3vw 5.7vw;
    }

    @media (min-width: 1960px){
      transform-origin: 2.3vw 3.7vw;
    }

    @media (min-width: 2200px){
      transform-origin: 2vw 3.5vw;    
    }

    p{
        font-size: .8em;
        letter-spacing: 2px;
    }
}